---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description=":)"
	pubDate={new Date('May 20 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Hi, I'm Eino. I enjoy learning new languages and love sharing my experiences with others. I'm always looking for fun and simple ways to make language learning easier and more interesting.
	</p>
</Layout>
